.logo{
	height: 150px;
	width: auto;
	margin: 0 auto 0 auto;
}

.custom-btn{margin-right: 10px}

.table-custom th{
	background: #428bca;
	color: white; text-align: center;
}

.table-custom td{
	text-align: center;
	height: 57px;
}

.table-profesor td{
  text-align: center;
  height: 77px;
}

.bgmain{
	background: url("images/bg3.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bgmain .page-header{border: none}

.panel-shadow{box-shadow: 1px 1px 20px rgba(0,0,0,0.3)}

.none{color: inherit}

.none:hover{
	color: inherit;
	text-decoration: none;
}

.hidden{display: none}

/*
  .bg-green{
  	background: #3e8f3e;
  }

  .bg-dblue{
  background: #265a88;
  }

  .bg-lblue{
  background: #2aabd2;
  	
  }

  .bg-yellow{
  	background: #eb9316;
  }

  .bg-red{
  	background: #b92c28;
  }

  .bg-gray{
  	background: lightgray;
  }
*/
  .img-m{
    width: 600px;
    height: auto;
  }

  .bg-error{
    background: #DCECF9;
  }

  .custom-label{
    margin-right: 1em;
  }

  .custom-lab{
    color: black;
  }